@font-face {
  font-family: FrancoisOne;
  src: url(./FrancoisOne-Regular.ttf);
}
@font-face {
  font-family: Acme;
  src: url(./Acme-Regular.ttf);
}
@font-face {
  font-family: LondrinaSolid;
  src: url(./LondrinaSolid-Regular.ttf);
}